<html>
<title>Weather</title>
<body>
<h2>Weather</h2>
Temperature in kelvin unit = {{ temp }}, atmospheric pressure in hPa unit = {{ pressure }}, humidity in percentage = {{ humidity }}
</body>
</html>
